:root {
    box-sizing: border-box;
}
body {
    display:flex;
    justify-content: center;
}
#maze {
    width: 800px;
    height: 600px;
    border: 5px solid black;
    display: flex;
    flex-direction: column; 
}
.row {
    display: flex;
    flex-grow: 1;
}
.block {
    flex-grow: 1;
}
.block.wall {
    background-color: darkred;
}
#mazeobject {
    width: 30px;
    height: 34px;
    border: 1px solid black;
    border-radius: 2px;
    position: absolute;
    margin-top: 2px;
    margin-left: 1px;
}
#startComment {
    display:flex;
    width:50px;
    height: 30px;
    margin-top: 368px;
    border: 2px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
#endComment {
    display:flex;
    width:56px;
    height: 30px;
    margin-top: 328px;
    border: 2px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}
#finish {
    display: flex;
    width: 180px;
    height: 50px;
    margin-top: 318px;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    font-size: 25px;
}